<div class="container">
	<h2>View 2</h2>
	Search (by Name):
	<br/>
	<input type="text" data-ng-model="filter.name">
	<br/>
	<ol>
		<li data-ng-repeat="cust in customers.data | filter: filter.name | orderBy: 'state'"> {{ cust.name }} - {{ cust.state }} </li>
	</ol>
	<br/>
	Name:
	<br />
	<input type="text" data-ng-model="newCustomer.name">
	<br />
	State:
	<br />
	<input type="text" data-ng-model="newCustomer.state">
	<button data-ng-click="addCustomer()">Add Customer</button>
	<br /><a href="#/view1">View 1</a>
</div>
